{% extends 'base.html.twig' %}

{% block body %}
    <h1>Games list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Year</th>
                <th>Developer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><img src="{{ asset('uploads/game/cover/' ~ game.cover) }}" class="img-circle" width="50" height="50"/></td>
                <td>{{ game.name }}</td>
                <td>{{ game.year }}</td>
                <td>{{ game.developer }}</td>
                <td>
                    <a href="{{ path('game_show', { 'id': game.id }) }}" class="btn btn-info" role="button">show</a>
                    <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-warning" role="button">edit</a>
                    <a href="{{ path('game_delete', { 'id': game.id }) }}" class="btn btn-danger" role="button">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        Back to main menu
    </a>
    <a href="{{ path('game_new') }}" class="btn btn-success pull-right" role="button">Create a new game</a>
{% endblock %}