{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'game.list'|trans({}, 'GamesBundle') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'game.form.name'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'game.form.year'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'game.form.developer'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'game.form.actions'|trans({}, 'GamesBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><img src="{{ asset('uploads/game/cover/' ~ game.cover) }}" class="img-circle" width="50" height="50"/></td>
                <td>{{ game.name }}</td>
                <td>{{ game.year }}</td>
                <td>{{ game.developer }}</td>
                <td>
                    <a href="{{ path('game_show', { 'id': game.id }) }}" class="btn btn-info" role="button">
                        {{ 'buttons.show'|trans({}, 'GamesBundle') }}
                    </a>
                    <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-warning" role="button">
                        {{ 'buttons.edit'|trans({}, 'GamesBundle') }}
                    </a>
                    <a href="{{ path('game_delete', { 'id': game.id }) }}" class="btn btn-danger" role="button">
                        {{ 'buttons.delete'|trans({}, 'GamesBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        {{ 'buttons.back'|trans({}, 'GamesBundle') }}
    </a>
    <a href="{{ path('game_new') }}" class="btn btn-success pull-right" role="button">
        {{ 'buttons.add_game'|trans({}, 'GamesBundle') }}
    </a>
{% endblock %}