{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'game.new'|trans({}, 'GamesBundle') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('developer_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        {{ 'buttons.back_list'|trans({}, 'GamesBundle') }}
    </a>
{% endblock %}
