{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game - info</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>{{ game.name }}</h3>
        </div>
        <div class="panel-body">
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td class="strong">Description</td>
                        <td>{{ game.description }}</td>
                    </tr>
                    <tr>
                        <td class="strong">Developer</td>
                        <td><a href="{{ path('developer_show', { 'id': game.getDeveloper().id }) }}">{{ game.developer }}</a></td>
                    </tr>
                    <tr>
                        <td class="strong">Year</td>
                        <td>{{ game.year }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pull-right col-md-1">
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    </div>
    <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-warning pull-right" role="button">Edit</a>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        Back to main menu
    </a>
{% endblock %}
