{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'game.info'|trans({}, 'GamesBundle') }}</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>{{ game.name }}</h3>
        </div>
        <div class="panel-body">
            <div class="inline pull-left">
                <img class="img-thumbnail" src="{{ asset('uploads/game/covers/' ~ game.cover) }}"/>
            </div>
            <table class="table-condensed">
                <tbody>
                    <tr>
                        <td class="strong">{{ 'game.form.description'|trans({}, 'GamesBundle') }}</td>
                        <td>{{ game.description }}</td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'game.form.developer'|trans({}, 'GamesBundle') }}</td>
                        <td><a href="{{ path('developer_show', { 'id': game.getDeveloper().id }) }}">{{ game.developer }}</a></td>
                    </tr>
                    <tr>
                        <td class="strong">{{ 'game.form.year'|trans({}, 'GamesBundle') }}</td>
                        <td>{{ game.year }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pull-right col-md-1">
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
    </div>
    <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-warning pull-right" role="button">
        {{ 'buttons.edit'|trans({}, 'GamesBundle') }}
    </a>

    <a href="{{ path('game_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        {{ 'buttons.back_list'|trans({}, 'GamesBundle') }}
    </a>
{% endblock %}
