{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'post.new'|trans({}, 'BlogBundle') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('post_index') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        {{ 'buttons.back_index'|trans({}, 'BlogBundle') }}
    </a>
{% endblock %}