{% extends 'base.html.twig' %}

{% block body %}
    <h1>Developers list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for developer in developers %}
            <tr>
                <td>{{ developer.name }}</td>
                <td>
                    <a href="{{ path('developer_show', { 'id': developer.id }) }}" class="btn btn-info" role="button">show</a>
                    <a href="{{ path('developer_edit', { 'id': developer.id }) }}" class="btn btn-warning" role="button">edit</a>
                    <a href="{{ path('developer_delete', { 'id': developer.id }) }}" class="btn btn-danger" role="button">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        Back to main menu
    </a>
    <a href="{{ path('developer_new') }}" class="btn btn-success pull-right" role="button">Create a new developer</a>
{% endblock %}
