{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'developer.list'|trans({}, 'GamesBundle') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'developer.form.name'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'developer.form.founded'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'developer.form.country'|trans({}, 'GamesBundle') }}</th>
                <th>{{ 'developer.form.actions'|trans({}, 'GamesBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for developer in developers %}
            <tr>
                <td><img src="{{ asset('uploads/developer/logo/' ~ developer.logo ) }}" class="carbonad-img" width="100" height="100"/></td>
                <td>{{ developer.name }}</td>
                <td>{{ developer.created|date('Y') }}</td>
                <td>{{ developer.country }}</td>
                <td>
                    <a href="{{ path('developer_show', { 'id': developer.id }) }}" class="btn btn-info" role="button">
                        {{ 'buttons.show'|trans({}, 'GamesBundle') }}
                    </a>
                    <a href="{{ path('developer_edit', { 'id': developer.id }) }}" class="btn btn-warning" role="button">
                        {{ 'buttons.edit'|trans({}, 'GamesBundle') }}
                    </a>
                    <a href="{{ path('developer_delete', { 'id': developer.id }) }}" class="btn btn-danger" role="button">
                        {{ 'buttons.delete'|trans({}, 'GamesBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}" class="btn btn-default" role="button" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        {{ 'buttons.back'|trans({}, 'GamesBundle') }}
    </a>
    <a href="{{ path('developer_new') }}" class="btn btn-success pull-right" role="button">
        {{ 'buttons.add_developer'|trans({}, 'GamesBundle') }}
    </a>
{% endblock %}
